<div class="row">
  <div class="col-xs-12 col-md-8">
    {{{readme}}}

    <h2>Help topics</h2>
    
    {{#sections}}
    <a name="{{title}}"></a>
    <h3>{{title}}</h3>
    {{{description}}}
    
    <ul class="index">
    {{#items}}
    {{#icon}}
      <li class = "icon">
        <a href="{{file_out}}"><img src="{{icon}}" width = "40" height = "40" /></a><code><a href="{{file_out}}">{{name}}</a></code>{{aliases}}<br /> 
        {{{title}}}</li>
    {{/icon}}
    {{^icon}}
      <li>
        <code><a href="{{file_out}}">{{name}}</a></code>{{aliases}}<br />{{{title}}}</li>
    {{/icon}}
    {{/items}}
    </ul>
    {{/sections}}
  </div>
  
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    {{#vignettes}}
    <h2>Vignettes</h2>
    <ul>
    {{#vignette}}
      <li><a href="vignettes/{{filename}}">{{title}}</a></li>
    {{/vignette}}
    </ul>
    {{/vignettes}}

    {{#demos}}
    <h2>Demos</h2>
    <ul>
    {{#demo}}
      <li><a href="{{filename}}">{{title}}</a></li>
    {{/demo}}
    </ul>
    {{/demos}}

    {{#dependencies}}
    <h2>Dependencies</h2>
    <ul>
      <!-- <li><strong>Depends</strong>: {{depends}}</li> -->
      <!-- <li><strong>Imports</strong>: {{imports}}</li> -->
      <li><strong>Suggests</strong>: {{suggests}}</li> 
      <!-- <li><strong>Extends</strong>: {{extends}}</li> -->
    </ul>
    {{/dependencies}}

    <h2>Authors</h2>
    <ul>
    {{#authors}}
      <li>{{{.}}}</li>
    {{/authors}}
    </ul>
    
    <h3></h3>    
    <form method="get" action="http://www.google.com/search">
     <table border="0" cellpadding="0">
     <tr><td> <input type="text" name="q" size="25" maxlength="255" value="" />
            <input type="submit" value="Search Bio3D Docs" />
     </td><td align="center" style="font-size:75%"> <input type="checkbox" name="sitesearch" value="http://thegrantlab.org/bio3d/" checked /> only Bio3D Docs<br /> </td></tr></table>
    </form>

  </div>
</div>
