<meta charset="utf-8">
<title>{{pagetitle}}. {{#package}}{{package}} {{version}}{{/package}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{author}}">

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/navbar.css" rel="stylesheet">
<link href="css/highlight.css" rel="stylesheet">
<link href="css/staticdocs.css" rel="stylesheet">
<link href="css/theme.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
