<!DOCTYPE html>
<html lang="en">
  <head>
    {{{ head }}}
  </head>

  <body>
    {{{ navbar }}}

    <div class="container">
      <header>
      {{{ header }}}  
      </header>
      
      {{{ content }}}
      
      <footer>
      {{{ footer }}}
      </footer>
    </div>

    <!-- Code Tracking
    ====================================================== -->
    <script src="http://www.google-analytics.com/urchin.js" 
        type="text/javascript">
    </script><script type="text/javascript">
    //<![CDATA[
      _uacct = "UA-673639-1";
      urchinTracker();
    //]]>
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
