<div class="container">
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="http://thegrantlab.org/bio3d">{{#package}}{{package}} {{version}}{{/package}}</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html"> Index</a></li>
        <li><a href="http://thegrantlab.org/bio3d/download">Download Bio3D</a></li>
        <li><a href="http://thegrantlab.org">The Grant Lab</a></li>
    </ul>
  </div>
</div>
</div>
